openapi: 3.0.1
info:
  title: Reonomy Property API
  description: 'The Reonomy Property API delivers commercial real-estate property intelligence for U.S. properties: attribute and map-based property search, address / geolocation resolution to a stable Reonomy property ID, and rich property detail records covering basic data, taxes, sales, mortgages, ownership, tenants, and foreclosure. All requests are authenticated with HTTP Basic Authentication using a base64-encoded access-key / secret-key pair. Access is provisioned by Reonomy sales.'
  termsOfService: https://www.reonomy.com/terms-of-service
  contact:
    name: Reonomy
    url: https://www.reonomy.com
    email: sales@reonomy.com
  version: '2.0'
servers:
- url: https://api.reonomy.com/v2
  description: Reonomy Property API v2
security:
- basicAuth: []
tags:
- name: Property
  description: Retrieve detailed property records by ID.
paths:
  /property/{property_id}:
    get:
      operationId: getProperty
      tags:
      - Property
      summary: Get a single property
      description: Returns detailed information for a single Reonomy property. Use the detail_type query parameter (repeatable) to select which detail sections are returned.
      parameters:
      - name: property_id
        in: path
        required: true
        description: The Reonomy property ID.
        schema:
          type: string
      - name: detail_type
        in: query
        required: false
        description: Detail section to include in the response. May be repeated to request multiple sections. Defaults to basic.
        schema:
          type: string
          enum:
          - basic
          - taxes
          - sales
          - mortgages
          - ownership
          - tenants
          - foreclosure
      - name: filter_pii
        in: query
        required: false
        description: When true, excludes fields tagged as personally identifiable information.
        schema:
          type: boolean
      responses:
        '200':
          description: Property detail record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        '401':
          description: Authentication failed.
        '404':
          description: Property not found.
  /property/bulk:
    post:
      operationId: getPropertiesBulk
      tags:
      - Property
      summary: Get multiple properties
      description: Returns detailed records for the property IDs specified in the request body, up to 250 properties per call.
      parameters:
      - name: filter_pii
        in: query
        required: false
        description: When true, excludes fields tagged as personally identifiable information.
        schema:
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkRequest'
      responses:
        '200':
          description: Property detail records.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Property'
        '401':
          description: Authentication failed.
components:
  schemas:
    Mortgage:
      type: object
      properties:
        borrower_name:
          type: string
        lender_name:
          type: string
        signatory:
          type: string
    BulkRequest:
      type: object
      properties:
        property_ids:
          type: array
          maxItems: 250
          items:
            type: string
        detail_type:
          type: array
          items:
            type: string
            enum:
            - basic
            - taxes
            - sales
            - mortgages
            - ownership
            - tenants
            - foreclosure
    Sale:
      type: object
      properties:
        sale_amount:
          type: number
        sale_date:
          type: string
          format: date
    Tenant:
      type: object
      properties:
        name:
          type: string
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
    Contact:
      type: object
      properties:
        contact_type:
          type: string
        is_signatory:
          type: boolean
        match_score:
          type: number
        is_green_match:
          type: boolean
        persons:
          type: array
          items:
            $ref: '#/components/schemas/Person'
        company:
          $ref: '#/components/schemas/Company'
    Company:
      type: object
      properties:
        name:
          type: string
        parent_id:
          type: string
    Property:
      type: object
      description: A Reonomy property record. Detail sections are present per requested detail_type.
      properties:
        property_id:
          type: string
        address:
          type: string
        city:
          type: string
        state_code:
          type: string
        postal_code:
          type: string
        parcel_number:
          type: string
        block_id:
          type: string
          description: NYC properties only.
        borough_id:
          type: string
          description: NYC properties only.
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        mortgages:
          type: array
          items:
            $ref: '#/components/schemas/Mortgage'
        ownership:
          $ref: '#/components/schemas/Ownership'
        sales:
          type: array
          items:
            $ref: '#/components/schemas/Sale'
        taxes:
          type: object
        tenants:
          type: array
          items:
            $ref: '#/components/schemas/Tenant'
        foreclosure:
          type: object
    Ownership:
      type: object
      properties:
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
    Person:
      type: object
      properties:
        display:
          type: string
        jobs:
          type: array
          items:
            type: object
        addresses:
          type: array
          items:
            type: object
        phones:
          type: array
          items:
            type: string
        emails:
          type: array
          items:
            type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. The Authorization header carries a base64-encoded access_key:secret_key access token issued by Reonomy.
